@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akronim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: whitesmoke;
  text-align: left;
  background: #5283ee;
}

html {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

@-ms-viewport {
  width: device-width;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "candal", serif;
  color: #5c5b55;
  margin: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.fas {
  margin-right: 5px;
}

p {
  font-family: 'Montserrat', sans-serif;
}

header nav {
  padding-left: 30px;
  padding-right: 20px;
  background-color: #1f1f1f;
  font-family: 'Open Sans', sans-serif;
}

header nav .navbar-toggler {
  background-color: #9c9a92;
}

header nav .navbar-brand {
  font-weight: bolder;
  font-size: 40px;
  color: #b6b5b5 !important;
  font-family: 'Akronim', cursive;
}

header nav .navbar-brand span {
  color: #ff4444;
  font-family: 'Akronim', cursive;
}

header nav .nav-link {
  padding-left: 20px !important;
}

header nav .navbar-nav a {
  font-family: 'Karla', sans-serif;
  color: #c5c3c3 !important;
}

header nav .navbar-nav a:hover {
  color: white !important;
  display: block;
  background-color: #9c9a92;
  border-radius: 5px;
  font-weight: bold;
}

.container {
  min-height: 80vh;
  width: 100%;
  position: relative;
}

.container .col {
  border-radius: 20px;
  margin: 30px;
}

.container .left .top table {
  margin: 0 auto;
}

.container .left .top .crypto {
  margin: 10px;
}

.container .left .top .current {
  font-weight: bold;
}

.container .left .top .current .coin {
  margin: 10px;
}

.container .left .top .current .currency {
  margin: 10px;
}

.container .left .boto label {
  font-weight: bold;
}

.container .right {
  background-color: #fff;
}

.container .right * {
  color: #000;
}

.container .right .head {
  font-size: xx-large;
  font-weight: bolder;
  margin: 5px;
}

.container .right table {
  margin: 0 auto;
  margin-top: 10px;
}

.container .right .title {
  font-size: larger;
  font-weight: bold;
  margin: 5px;
  padding-right: 10px;
  float: right;
}

.container .right .cont {
  font-size: large;
  margin: 5px;
  padding-left: 10px;
}

.container .row {
  margin: 0 auto;
}

.container .talks {
  background-color: #383737c5;
}

.container .talks .art {
  background-color: #5283ee15;
  padding: 3px;
  border-radius: 20px;
}

.container .talks .head {
  font-weight: bolder;
  font-size: xx-large;
}

.container .talks .col {
  margin: 0 auto;
}

.container .talks .img {
  max-width: 270px;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
}

.container .talks .img img {
  max-width: 260px;
  background-size: cover;
}

.container .talks .cont {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  min-width: 410px;
}

.container .talks .cont .info {
  font-style: italic;
  color: #9c9a92;
}

.container .talks .cont .title {
  font-weight: 900;
  color: #3d8bc7;
}

.container .talks .cont .sum {
  font-weight: 300;
  color: #fff;
}

footer {
  bottom: 0;
  width: 100%;
  color: white;
  position: relative;
}

footer .bottom {
  height: 50px;
  width: 100%;
  background: #181818;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  left: 0px;
  bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

footer .bottom p {
  padding-top: 10px;
}

footer .bottom a {
  padding-left: 5px;
  color: #de600c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .bottom a:hover {
  font-size: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}
/*# sourceMappingURL=main.css.map */