@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: whitesmoke;
    text-align: left;
    background: #5283ee;
  }
  html {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
  }
  
  @-ms-viewport {
    width: device-width;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "candal", serif;
    color: #5c5b55;
    margin: 5px;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .clearfix::after {
    content: '';
    display: block;
    clear: both;
  }

.fas{
    margin-right: 5px;
}

p {
    font-family: 'Montserrat', sans-serif;
}

header{
    nav{
        padding-left: 30px;
        padding-right: 20px;
        background-color: #1f1f1f;
        font-family: 'Open Sans', sans-serif;
        .navbar-toggler {
          background-color: #9c9a92;
        }        
        .navbar-brand{
            font-weight: bolder;
            font-size: 40px;
            color: rgb(182, 181, 181) !important;
            font-family: 'Akronim', cursive;
            span{
                color: rgb(255, 68, 68);
                font-family: 'Akronim', cursive;
            }
        }
        .nav-link{
          padding-left: 20px !important;
        }
        .navbar-nav{
            a{
            font-family: 'Karla', sans-serif;
            color: rgb(197, 195, 195) !important;
            }
            a:hover{
                color: rgb(255, 255, 255) !important;
                display: block;
                background-color: #9c9a92;
                border-radius: 5px;
                font-weight: bold;
            }
        }
    }
}

.container{
  min-height: 80vh;
  width: 100%;
  position: relative;
  
  .col{
    border-radius: 20px;
    margin: 30px;
  }
  .left{
    //background-color: #1f1f1f;
    .top{
      table{
        margin: 0 auto;
      }
      .crypto{
        margin: 10px;
      }
      .current{
        font-weight: bold;
        .coin{
          margin: 10px;
        }
        .currency{
          margin: 10px;
        }
      }

    }
    .boto{
      label{
        font-weight: bold;
      }
    }
  }
  .right{
    *{
      color: #000;
    }
    background-color: #fff;
    .head{
      font-size: xx-large;
      font-weight: bolder;
      margin: 5px;
    }
    table{
      margin: 0 auto;
      margin-top: 10px;
    }
    .title{
      font-size: larger;
      font-weight: bold;
      margin: 5px;
      padding-right: 10px;
      float: right;
    }
    .cont{
      font-size: large;
      margin: 5px;
      padding-left: 10px;
    }
  }
.row{
  margin: 0 auto;
}
  .talks{
    background-color: #383737c5;
    .art{
      background-color: #5283ee15;
      padding: 3px;
      border-radius: 20px;
    }
    .head{
      font-weight: bolder;
      font-size: xx-large;
    }
    .col{
      margin: 0 auto;
    }
    .img{
      max-width: 270px;
      margin: 5px;
      margin-left: auto;
      margin-right: auto;
      img{
        max-width: 260px;
        background-size: cover;
      }
    }
    .cont{
      margin: 10px;
      margin-left: auto;
      margin-right: auto;
      min-width: 410px;
      .info{
        font-style: italic;
        color: #9c9a92;
      }
      .title{
        font-weight: 900;
        color: #3d8bc7;
      }
      .sum{
        font-weight: 300;
        color: #fff;
      }
    }
  }
}

footer {
    bottom: 0;
    width: 100%;
    color: rgb(255, 255, 255);
    position: relative;
    .bottom {
        height: 50px;
        width: 100%;
        background: #181818;
        align-items: center;
        text-align: center;
        left: 0px;
        bottom: 0;
        justify-content: center;
        margin: auto;
        p{
            padding-top: 10px;
          }a {
            padding-left: 5px;
            color: #de600c;
            transition: 0.3s;
          }a:hover {
            font-size: 30px;
            transition: 0.3s;
          }
      }
  }
  a {
    text-decoration: none;
    color: #fff;
  }
  li {
    list-style: none;
  }