// MEDIA QUERIES
@media (max-width: 991px) {
    .navigation{
        left: -300px;
    }
    .navigation.active{
        width: 300px;
        left: 0;
    }
    .main{
        width: 100%;
        left: 0;
    }
    .main.active{
        left: 300px;
    }
    .cardBox{
        grid-template-columns: repeat(2,1fr);
    }
}
@media only screen and (max-width:934px) {
    .container{
        max-width: 100%;
        .post{
            .post-img{
                width: 50%;
            }
        }
    }
}

@media only screen and (max-width:840px) {
    header{
        .top-bar {
            display: none;
        }
        .slides{
            max-height: 400px;
            img{
                max-height: 400px;
                image-resolution: inherit;
                background-size: cover;
            }
        }
    }
    .container{
        max-width: 100%;
        .content{
            margin: 0 auto;
            width: 100%;
            .post-img{
                max-height: 70%;
            }
            .sidebar.single{
                padding: 0;
                padding-left: 5px;
            }
        }
    }

    .main.active {
        left: 251px;
    }
    .navigation.active{
        width: 250px;
    }

}

@media only screen and (max-width:768px){
    .details{
        grid-template-columns: repeat(1,1fr);
    }
    .recentPosts{
        overflow-x: auto;
    }
}

@media only screen and (max-width:539px) {
    .cardBox{
        .iconBx{
            display: none;
        }
    }
}

@media only screen and (max-width:477px){
    .user{
        min-width: 40px;
    }
    .navigation{
        width: 100%;
        left: -100%;
        z-index: 1000  ;
    }
    .cardHeader h2{
        font-size: 20px;
    }
    .recentPosts{
        table{
            tr{
                td:nth-child(1){
                    display: none;
                }
                td:nth-child(5){
                    display: none;
                }
            }
        }
    }
    .trendings{
        padding: 10px !important;
        tr{
            td{
                h4{
                    font-size: 12px !important;
                }
            }
            td:first-child{
                text-align: center;
            }
        }
    }
    .cardBox{
        .card{
            padding: 10px;
        }
            .info{
            .numbers{
                        font-size: 2em !important;
                    }
        }
    }
    
    
}

@media only screen and (max-width:414px){
    .main.active {
        left: 80px;
    }
    .navigation.active{
        width: 80px;
    }
}

@media only screen and (max-width:750px) {
    .cont{
        max-width: 100%;
        .content{
        width: 100%;
        float: left;

        .main-content{
            width: 100% !important;
            margin: 0 auto;
            padding: 0;
            float: left;
            .post-img{
                max-height: 70%;
            }
        }
        .main-content.single{
            padding: 0;
            padding: 5px;
        }
        .sidebar{
            width: 100% !important;
            float: none;
            margin: 0 auto;
        }
    }
    }
}

@media only screen and (max-width:600px) {
    header{
        .slides{
            max-height: 300px;
            img{
                max-height: 300px;
                image-resolution: inherit;
                background-size: cover;
            }
        }
    }
}


@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}
